@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');

:root {
    --cor-primaria: #F8F8F8;
    --cor-secundaria: #2D46B9;
    --cor-terciaria: #FFE1CD;
}

* {
    margin: 0;
    padding: 0;
    background-image: url(Assets/AI\ Chef.png);
    background-size: cover;
}
